
.container2{
    background-color:  #333;
    padding: 0px;
}
.container2 .email{
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    font-family: Oswald;
    font-size: medium;
    margin-left:15%;
    border-radius: 0.1em;
}
.title{
  font-size: 2rem;
  color: white;
}

.btn{
  width: auto;
  background-color: red;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-family: Oswald;
  font-size: medium;
  margin-left: 0%;
  border-radius: 0.1em;
  
}
.btn:hover {
    background-color: rgb(188, 38, 38);
  }
